<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>etu1821.framework.servlet.FrontServlet</servlet-class>
        <!-- Nom du package -->
        <init-param>
            <param-name>packageName</param-name>
            <param-value>mg</param-value>
            <description>Nom du package source</description>
        </init-param>

        <!-- Variable de session -->
        <init-param>
            <param-name>connection</param-name>
            <param-value>connected</param-value>
            <description>tester si connecté ou non</description>
        </init-param>

        <!-- Variable de session -->
        <init-param>
            <param-name>profile</param-name>
            <param-value>role</param-value>
            <description>profile des utilisateurs</description>
        </init-param>

        <!-- Traitement des fichiers UploadFile -->
        <multipart-config>
            <!-- Préciser un fichier temporaire pour stocker le fichier avant de le traiter -->
            <location>E:\Unity</location>
            <max-file-size>100485760</max-file-size>
            <max-request-size>200971520</max-request-size>
            <file-size-threshold>52428800</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
</web-app>
